.tabs {
  display: flex;
  justify-content: center;

  &__link {
    display: inline-block;

    padding: 10px;

    text-decoration: none;
    background-color: #323232;
    
    &:first-child {
      border-top-left-radius: 10px;
    }

    &:last-child {
      border-top-right-radius: 10px;
    }
  }
}